@charset "utf-8";

.plug-div .plug-phone_dfse{ border-top:1px solid #1BB55C;  background:#00ad49;  background: rgba(0, 173, 73,.8);}
.plug-div .plug-phone_dfse div .title{ color:#fff; }
.plug-div .plug-phone_dfse div { border-left: 1px solid #1BB55C;}
 