{include file="public/header"/}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>店铺管理页面 >> 店铺编辑页面</span>
        </div>
        <div class="providerAdd">
            <form action="{:url('Store/update')}" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="providerId">店铺名称：</label>
                    <input type="text" name="store_name" id="providerId" value="{$data.store_name}"/>
                    <span>*请输入店铺名称</span>
                </div>
                <div>
                    <label for="providerName">店铺管理员：</label>
                    <input type="text" name="store_manage" id="providerName" value="{$data.store_manage}"/>
                    <span >*请输入管理员名称</span>
                </div>
                <div>
                    <label for="people">联系电话：</label>
                    <input type="text" name="manage_mobile" id="people" value="{$data.manage_mobile}"/>
                    <span>*请输入联系电话</span>

                </div>
                <div>
                    <label for="phone">地址：</label>
                    <input type="text" name="store_address" id="phone" value="{$data.store_address}"/>
                    <span>*请输入地址</span>
                </div>
                <div class="providerAddBtn">
                    <input style="line-height: 20px" type="submit" value="保存" />
                    <a href="{:url('store/index')}">
                        <input type="button" value="返回" onclick="history.back(-1)"/>
                    </a>
                </div>
            </form>
        </div>

    </div>
</section>
{include file="public/footer"/}