{include file="public/header"/}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>店铺管理页面</span>
        </div>
        <form method="post" action="{:url('Store/index')}">
        <div class="search">
            <span>店铺名称：</span>
            <input type="text" placeholder="请输入店铺的名称" name="name"/>
            <input type="submit" value="查询" id="chaxun"/>
            <a href="{:url('Store/add')}">添加店铺</a>
        </div>
        </form>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">店铺ID</th>
                <th width="20%">店铺名称</th>
                <th width="10%">店铺管理员</th>
                <th width="10%">联系电话</th>
                <th width="10%">店铺地址</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            {volist name="data" id="vo"}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.store_name}</td>
                <td>{$vo.store_manage}</td>
                <td>{$vo.manage_mobile}</td>
                <td>{$vo.store_address}</td>
                <td>{$vo.create_time}</td>
                <td>
                    <a href="{:url('store/edit',['id'=>$vo.id])}"><img src="__PUBLIC__/img/xiugai.png" alt="修改" title="修改"/></a>
                    <a href="{:url('store/del',['id'=>$vo.id])}"><img src="__PUBLIC__/img/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr>
            {/volist}
        </table>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<!--<div class="zhezhao"></div>-->
<!--<div class="remove" id="removeProv">-->
   <!--<div class="removerChid">-->
       <!--<h2>提示</h2>-->
       <!--<div class="removeMain" >-->
           <!--<p>你确定要删除该供应商吗？</p>-->
           <!--<a href="" id="yes">确定</a>-->
           <!--<a href="#" id="no">取消</a>-->
       <!--</div>-->
   <!--</div>-->
<!--</div>-->


{include file="public/footer"/}