{include file="public/header"/}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>商品管理页面 >> 商品编辑页面</span>
        </div>
        <div class="providerAdd">
            <form action="{:url('Goods/update')}" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <input type="hidden" value="{$data.goods_id}" name="goods_id">
                    <label for="providerId">商品名称：</label>
                    <input type="text" name="goods_name" id="providerId" value="{$data.goods_name}"/>
                    <span>*请输入商品名称</span>
                </div>
                <div>
                    <label for="providerName">商品价格：</label>
                    <input type="text" name="goods_price" id="providerName" value="{$data.goods_price}"/>
                    <span >*请输入商品价格</span>
                </div>
                <div >
                    <label for="people" >商品图片：</label>
                    <div style="padding-left: 204px; margin-top: -25px">
                        <input type="text" class="picture" name="goods_img" value='{$data.goods_img}' />
                    </div>
                </div>
                <div >
                    <label for="people">商品详情：</label>
                    <div style="padding-left: 204px; margin-top: -25px">
                        <input type="text" class="pic1" name="goods_detail" id="people" value="{$data.goods_detail}" />
                    </div>

                </div>
                <div>
                    <label for="phone">商品进货量：</label>
                    <input type="text" name="goods_total" id="phone" value="{$data.goods_total}"/>
                    <span>*请输入商品进货量</span>
                </div>
                <div>
                    <label for="phone">所属门店：</label>
                    <select name="store_id">
                        {volist name="store" id="vo"}
                        <option value="{$vo.id}" {if $data.store_id eq $vo.id} selected="selected" {/if}>{$vo.store_name}</option>
                        {/volist}
                    </select>
                    <span>*请选择所属门店</span>
                </div>
                <div class="providerAddBtn">
                    <input style="line-height: 20px" type="submit" value="保存" />
                    <a href="{:url('goods/index')}">
                        <input type="button" value="返回" onclick="history.back(-1)"/>
                    </a>
                </div>
            </form>
        </div>

    </div>
</section>
<script>
    KindEditor.ready(function(K) {
        editor = K.create('.pic1', {
            resizeType : 1,
            items : [
                'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about']
        });
    });
    KindEditor.ready(function(K) {
        editor = K.create('.picture', {
            resizeType : 1,
            items : ['image']
        });
    });
</script>
{include file="public/footer"/}