{include file="public/header"/}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>商品管理页面</span>
        </div>
        <div class="search">
            <span>名称：</span>
            <input type="text" placeholder="请输入商品的名称"/>
            <input type="button" value="查询"/>
            <a href="{:url('Goods/add')}">添加商品</a>
        </div>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="5%">商品ID</th>
                <th width="10%">商品名称</th>
                <th width="10%">商品价格</th>
                <th width="10%">商品详情</th>
                <th width="10%">商品进货量</th>
                <th width="5%">销量</th>
                <th width="5%">库存</th>
                <th width="10%">所属门店</th>
                <th width="10%">添加时间</th>
                <th width="25%">操作</th>
            </tr>
            {volist name="data" id="vo"}
            <tr>
                <td>{$vo.goods_id}</td>
                <td>{$vo.goods_name}</td>
                <td>{$vo.goods_price}</td>
                <td>{$vo.goods_detail}</td>
                <td>{$vo.goods_total}</td>
                <td>{$vo.sale_number}</td>
                <td>{$vo.inventory}</td>
                <td>{$vo.store_name}</td>
                <td>{$vo.create_time}</td>
                <td>
                    <a href="{:url('goods/edit',['id'=>$vo.goods_id])}"><img src="__PUBLIC__/img/xiugai.png" alt="修改" title="修改"/></a>
                    <a href="{:url('goods/del',['id'=>$vo.goods_id])}"><img src="__PUBLIC__/img/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr>
            {/volist}
        </table>

    </div>
</section>

<!--&lt;!&ndash;点击删除按钮后弹出的页面&ndash;&gt;-->
<!--<div class="zhezhao"></div>-->
<!--<div class="remove" id="removeProv">-->
   <!--<div class="removerChid">-->
       <!--<h2>提示</h2>-->
       <!--<div class="removeMain" >-->
           <!--<p>你确定要删除该供应商吗？</p>-->
           <!--<a href="#" id="yes">确定</a>-->
           <!--<a href="#" id="no">取消</a>-->
       <!--</div>-->
   <!--</div>-->
<!--</div>-->


{include file="public/footer"/}