{include file="public/header"/}
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>订单管理页面</span>
        </div>
        <form action="{:url('Order/index')}" method="post">
        <div class="search">
            <span>店铺名称：</span>
            <input type="text" placeholder="请输入订单编号" name="order_sn"/>
            <input type="submit" value="查询" id="chaxun"/>
        </div>
        </form>
        <!--供应商操作表格-->
        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">订单编号</th>
                <th width="10%">下单用户</th>
                <th width="10%">收件人</th>
                <th width="10%">联系电话</th>
                <th width="10%">商品ID</th>
                <th width="10%">发货状态</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            {volist name="data" id="vo"}
            <tr>
                <td>{$vo.order_sn}</td>
                <td>{$vo.user_id}</td>
                <td>{$vo.consignee}</td>
                <td>{$vo.consignee_mobile}</td>
                <td>{$vo.goods_id}</td>
                <td>{if $vo.ship_status eq 0 }
                    <a href="{:url('order/status',['status'=>$vo.ship_status,'order_id'=>$vo.order_id])}"><button>待发货</button></a>
                    {else if $vo.ship_status eq 1}
                    <button>已发货</button>
                    {/if}
                </td>
                <td>{$vo.create_time}</td>
                <td>
                    <a href="#" class="removeProvider"><img src="__PUBLIC__/img/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr>
            {/volist}
        </table>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeProv">
   <div class="removerChid">
       <h2>提示</h2>
       <div class="removeMain" >
           <p>你确定要删除该供应商吗？</p>
           <a href="#" id="yes">确定</a>
           <a href="#" id="no">取消</a>
       </div>
   </div>
</div>


{include file="public/footer"/}