#top{
    width: 100%;
}
#top img{
    width: 100%;
}
#tuijian{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.tuijian_item{
    font-size:6px;
    float: left;
    width: 20%;
    margin-left: 4%;
    text-align: center;
}
#tuijian img{
    float: left;
    width:100%;
    margin-bottom: 5px;
}

#tuijian span{
    font-size:6px;
    width: 100%;
    margin-top: 5px;
}
.goods{
    font-size:6px;
    margin-top: 65px;
    clear: both;
    width: 100%;
}
.goods_item{
    width: 100%;
}
.goods_info{
    float: left;
    width: 45%;
    margin-left: 5%;
    margin-top: 15px;
}
.goods_info img{
    width:88%;
    height: 180px;

}
#edit_top{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-left: 30%;
}
.baocun input{
    margin-left: 35%;
    margin-top: 15px;
    background-color: #408CFF;
    width: 50px;
    height: 26px;
    border-radius: 5px;

}
