.order{
    font-size: 12px;
    width: 94%;
    margin-left: 3%;
    margin-top: 10px;
}
.order_base_info{
    width: 98%;
    height: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgrey;

}
.order_sn{
    width: 43%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}
.order_time{
    width: 55%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 43%;
    text-align: right;
}
.order_info{
    clear: both;
    padding-left: 5px;
    background-color: mintcream;
    margin-top: 8px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.order_info_center{
    margin-top: 5px;
    height: 63px
}
.order_image{
    width: 50px;
    height: 50px;
    float: left
}
.order_image img{
    width: 100%
}
.goods_info{
    width: 70%;
    margin-top: 2%;
    margin-left: 3%;
}
.goods_name{

}
.goods_price{
    margin-top: 5%;
}
.order_status{
    width: 20%;
    margin-right: -13%;
    float: right;
    margin-left: 40%;
    text-align: right;
}
.user_info{
    width: 98%;
    border-top: 1px solid lightgrey ;
}
.user_info{
    padding-top: 8px;
    padding-bottom: 8px;
}
.user{
    width: 50%;
    margin-bottom: 10px;
}
.mobile{
    text-align: right;
    width: 85%;
    float: right;
    margin-right: -95%;
}
.order_num{
    height: 20px;
    line-height: 20px;
    background: rgba(100,207,250,1);
    width: 94%;
    margin-left: 3%;

    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

